# See https://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
/node_modules

# testing
/coverage

# production
/dist

# backups
/Backup

# misc
.DS_Store
designs
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.zip
.rar


npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Premium
gsap-bonus.tgz
