svg.close-icon(xmlns='http://www.w3.org/2000/svg', width='38', height='38')
  path(fill='#15A8BA', d='M6.84 11.544l7.16 7.16-6.84 6.84 4.772 4.773 6.841-6.84 7.16 7.159 4.703-4.703-7.16-7.16 6.841-6.84-4.773-4.774L18.704 14l-7.16-7.16-4.703 4.704z')
