extends ./layouts/master.pug
block header 
  header Header
block content
  div.container
    .aspect-ratio--16x9 
      .aspect-ratio__inner-content 
        div.forte-map.interactive-map(data-map-styles="./js/data/map.style.json" data-markers="./js/data/hotspots.json", 
        data-ground-overlays=[{"coordinates":{"S": 38.92836424033743, "W": 8.924896661531204, "N": 38.94287213966831, "E": 8.937440372730721}, 
        "zoomLevel": 18,
        "overlay": require("@images/mappaconverde.jpg").default},
      ], data-map-options={
        zoom: 18,
        center: { lat: 38.932583, lng: 8.932833 },
        minZoom: 18,
        restriction: {
          latLngBounds: {
            north: 38.94287213966831,
            south: 38.92836424033743,
            east: 8.937440372730721,
            west: 8.924896661531204,
          },
          strictBounds: false,                     
        },
      }, data-locale={"Go to": "vai al sito", "Close" : "vicino"})


block footer
  footer footer