$modal-content-padding: 15px;
.interactive-map {

    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    

    &__canvas {
        height: 100%;
        transition: filter 0.3s ease;
    }

    &--loading {
        .interactive-map {
            &__canvas {
                filter: blur(10px);
            }
        }
        
    }

    

    &__loader {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out($color: #fff, $amount: 0.5);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &-modal {
        position: absolute;
        width: 30%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 5px 0 5px 2px fade-out($color: #000000, $amount: 0.8);

        &__header {
            flex: 0 0 auto;
            padding: $modal-content-padding;
        }

        &__body {
            flex: 1; 
            overflow: hidden;
            overflow-y: auto;
            padding: 0 $modal-content-padding;
        }

        &__action {
            margin-top:  auto;
            padding: $modal-content-padding;
        }

        transition: ease-in-out 0.3s ;
        transform: translateX(-100%);
        box-shadow: none;

        &--show {
            transform: translateX(0);
            box-shadow: 5px 0 5px 2px fade-out($color: #000000, $amount: 0.8);
        }

        &__header {
            display: flex;
            flex-wrap: wrap;
            &-title {
                flex: 1;
                margin-bottom: 0;
            }
    
            &-close {
                flex: 0 0 auto;
                align-self: flex-start;
            }
        }
    }

}

.map-filter {
    &.loading-map {
        opacity: 0.5;
        pointer-events: none!important;
    }
}


.legends-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    &:not(.legends-list--inner) {
        margin-left: -15px;
        margin-right: -15px;
        > .legends-list__item {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__category-name {
        display: block;
        text-transform: capitalize;
    }

    &__legend-name {
        cursor: pointer;
    }

    

    &--inner {
        display: block;
    }
}

.info-window {
    width: 320px;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__body {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &__title {
        flex: 0 0 auto;
    }

    &__desc {
        margin-bottom: 1rem;
    }

    &__scrollable-area {
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }


    &__img {
        display: block;
        max-width: 100%!important;
    }
    
}

.main-filter-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
    margin-bottom: 20px;

    &__item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.map-navigation-panel {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }

    &__col {
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 20%;

        &--title {
            flex: 0 0 100%;
        }

        &--action {
            align-self: flex-end;
        }
    }
    
}