.aspect-ratio {
  @include create-aspect-ratios();
  
  &__inner-content {
    flex: 1;
    max-width: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

@each $suffix,
$breakpoint in $grid-breakpoints {
  .aspect-ratio {
    &-#{$suffix} {
      @include media-breakpoint-up($suffix) {
        @include create-aspect-ratios();
      }
    }
  }
}

[class*='aspect-ratio--'] {
  position: relative;
  display: flex;
  flex-direction: row;

  &::before {
    width: 0px;
    max-width: 0px;
    flex: 0 0 0;
  }

  
}

// Spinners
.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

// Lists
.list-unstyled {
  list-style: none;
  padding-left: 0;
}

// Screens
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

// FLex
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: 0 0 auto;
}

// Spacing
.ml-2 {
  margin-left: 2rem;
}

// Displays
.d-none {
  display: none!important;
}

// Shadows

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.elevated-1 {
  box-shadow: 0 5px 5px -4px rgba(37, 17, 63, 11%);
}

.elevated-2 {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.elevated-3 {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.08);
}
.elevated-4 {
  box-shadow: 0 4px 10px 0 rgba(55, 56, 60, 0.16), 0 0 2px 0 rgba(55, 56, 60, 0.48);
}

.elevated-5-top-side {
  box-shadow: 0 -2px 5px -5px rgba(55, 56, 60, 0.5);
}