.lang-trigger-button.trigger-button.trigger-button--close
    svg.hamburger-button(xmlns='http://www.w3.org/2000/svg' x='0' y='0' version='1.1' viewBox='0 0 100 100' xml:space='preserve')
        g.hamburger-button__main-group
            path.hamburger-button__outer-circle(d='M89.1 49.8c0 21.5-17.5 39-39 39s-39-17.5-39-39 17.5-39 39-39 39 17.4 39 39z')
            g.hamburger-button__line-group.trigger-button__open-view
                path.hamburger-button__line(d='M32.5 36.4h35v5.1h-35z' transform="matrix(0.70711,0.70711,-0.70711,0.70711,42.18644,-12.94743)" style="transform-origin: 0px 0px;")
                path.hamburger-button__line(d='M32.5 58.4h35v5.1h-35z' transform="matrix(0.70711,-0.70711,0.70711,0.70711,-28.45386,42.20715)" style="transform-origin: 0px 0px;")
    span.lang-trigger-button__text.trigger-button__close-view EN